<!doctype html>

<meta charset="utf-8">
<title>Ordnung</title>

<link rel="stylesheet" type="text/css" href="css/main.css">

<script src="bundle.js"></script>
<script src="../node_modules/sortablejs/Sortable.js"></script>
<script src="../node_modules/sortablejs/ng-sortable.js"></script>

<body ng-app="ordnung" ng-controller="main">
  <div id="leftCol">
    <ul ng-sortable="{ group: 'tasks' }" ng-sortable-item-selector="li">
      <li ng-repeat="task in tasks">
        <input class="underlined"
               name="description"
               type="text"
               ng-model-options="{ updateOn: 'default blur',
                                 debounce: {'default': 500, 'blur': 0} }"
               ng-model="task.description"
               ng-focus="task.showDetails=true;"
               ng-blur="task.showDetails=false;"
               ng-backspace="deleteTask(task)"/>
        <ul>
          <li class="dependency" ng-repeat="(i, dep) in task.dependencies" ng-show="task.showDetails">
            <input class="dependency" type="number"
                   ng-focus="task.showDetails=true;"
                   ng-blur="task.showDetails=false;"
                   ng-enter="addDependency(task, $event)"
                   init-focus>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="content">  
    <depchart></depchart>
  </div>
</body>
